.chatContainer {
    height: 100%;
}

.chatTitle {
    background-color: white;
    height: 5%;
    padding-top: 3%;
    border-bottom-style: solid;
    /* border-top-style: solid; */
    border-width: 1px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.chatMessageAreaHeight{
	height: 75%;
}

.chatInputHeight{
	height: 20%;
}