.pushDown{
	height: 50px;
}

.quizitLeft, .quizitRight, .quizitCenter{
	height: calc(100vh - 50px);
}

.quizitLeft,.quizitRight{

}

.quizitLeft{

}

.quizitRight{
	padding: 0px;
	margin: 0px;
}

.quizitCenter{
	padding-right: 10%;
	padding-left: 10%;
}

.quizitPlayground{
	margin: auto;
	background-color: #EEEEEE;
	padding-top: 5vh;
	padding-left: 5vh;
	padding-right: 5vh;
	width: 90vh;
	border-radius: 30px;
	filter: drop-shadow(-1px 0 2px #222222);
}

.vh-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
}

.quizitPlaygroundTop{
	/*height: 60vh;*/
}

.quizitPlaygroundBottom{
	height: 20vh;
	margin-top: 2vh;
}

body, html {
	background-image: url('extra_clean_paper.png');
}	