.quizitLeft, .quizitRight, .quizitCenter, 
.quizitPlayground, .quizitPlaygroundTop, .quizitPlaygroundBottom{
	/*border: solid black 1px;*/
}

.quizitLeft{
	border: solid black 1px;
}

.pushDown{
	height: 50px;
}

.quizitLeft, .quizitRight, .quizitCenter{
	height: calc(100vh - 50px);
	border-style: solid;
	border-width: 1px;
}

.quizitLeft,.quizitRight{

}

.quizitLeft{

}

.quizitRight{
	padding: 0px;
	margin: 0px;
}

.quizitCenter{
	padding-right: 10%;
	padding-left: 10%;
	background-color: white;
}

.quizitPlayground{
	margin: auto;
	/*height: 80vh;*/
	width: 70vh;
}

.vh-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
}

.quizitPlaygroundTop{
	/*height: 60vh;*/
}

.quizitPlaygroundBottom{
	height: 20vh;
}