.logo-text {
    color: white;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 10px;
}

.logo-main {
    margin-right: 2px;
    padding-right: 1px;
    font-size: 18px;
    font-weight: bold;
}

.logo-span {
    /* background-color: #333333; */
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    margin-right: 5px;
}

.q {
    color: black;
    background-color: yellow; 
    border-radius: 6px;
}

.u {
    color: black;
    background-color: lightseagreen;
    padding-left: 2px;
    padding-right: 2px; 
    border-radius: 6px;
}

.i {
    color: black;
    background-color: orange; 
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
}

.z {
    color: black;
    background-color: blueviolet; 
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
}

.big-i {
    color: black;
    background-color: lightcyan;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
}

.t {
    color: black;
    background-color: lightgreen;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
}

.exc {
    color: black;
    background-color: pink;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 6px;
    margin-right: 5px;
}

.open-trivia-logo {
    height: 30px;
}