.leaderboard-container{
	margin-bottom: 40px;
	margin-top: 30px;
}
.leaderboard-title {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
.leaderboard-score {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
#dancing-eddy {
	width: 98px;
	height: auto;
}
.card-header {
	float: left;
	padding-left: 50px;
	padding-right: 50px;
}
