nav{
    display:table;
    width:100%;
}

#customnavbar{
    height:50px;
    background-color:black;
    display:table-row;
}

#customnavbar li {
    display:table-cell;
    height: 40px;
    text-align:center;
    vertical-align: middle;
    width: 100px;
}

#customnavbar li a{
    color: black;
}
