nav{
    display:table;
    width:100%;
    background-image: url('escheresque_ste.png');
}

#customNavbar{
    height:50px;
    position: fixed;
    top: 0px;
}

.text-right {
    text-align: right !important;
}